@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    align-items: center;
    padding-top: 56px; 
    overflow-x: hidden;
}

/* header */

header{
    height: 217px;
    color: #6d6e71;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: -4px;
}

.header__line{
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}

.header__line:first-child{
    flex-grow: 19;
}

.header__line:last-child{
    flex-grow: 1;
}

.logo{
    position: relative;
    background: url(img/logo.png);
    width: 403px;
    height: 93px;
}

.logo__text{
    position: absolute;
    top: 18px;
    left: 161px;
    color: #3687c4;
    font-size: 41px;
}

.contacts{
    align-self: center;
}

.contacts__item{
    position: relative;
    display: inline-block;
    padding: 0 17px;
    font-size: 30px;
}

.contacts__item--marker{
    position: absolute;
    background: #ffffff;
    border: 2px solid #d4d4d5;
    font-size: 15px;
    padding: 15px 24px;
    width: 171px;
    text-align: center;
    top: -64px;
    left: -87px;
    border-radius: 8px;
    visibility: hidden;
}

.contacts__item--marker:after, .contacts__item--marker:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.contacts__item--marker:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.contacts__item--marker:before {
	border-color: rgba(212, 212, 213, 0);
	border-top-color: #d4d4d5;
	border-width: 13px;
	margin-left: -13px;
}

.contacts__item:hover{
    color: #1faae2;
    cursor: pointer;
}

.contacts__item:hover .contacts__item--marker{
    color: #6d6e71;
    visibility: visible;
}

hr{
    width: 100%;
    height: 1px;
    background: #eceef4;
    border: 0;
}

.burger{
    background: transparent;
    border: 0;
    display: none;
}

.burger div{
    width: 59px;
    height: 9px;
    background-color: #3687c4;
    margin: 13px 0;
}

.menu{
    list-style-type: none;
    font-weight: bold;
}

.menu__item{
    display: inline-block;
    position: relative;
}

.menu__link{
    display: block;
    padding: 30px;
    text-align:center;
    font-size: 13px;
}

.menu__item:not(:first-child){
    border-left: 1px solid #eceef4;
    margin-left: -5px;
}

.menu__link:hover{
    color: #1faae2;
    cursor: pointer;
}

.menu__item:hover::after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 170, 226, 0);
    border-bottom-color: #1faae2;
    border-width: 16px;
    margin-left: -16px;
}

.search{
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-top: 16px;
}

.search__input{
    width: 250px;
    height: 50px;
    border: none;
    font-size: 12pt;
    padding-left: 45px;
    border-radius: 5px;
}

.search::before{
    content: url(img/icon_search.png);
    position: absolute;
    top: -10%;
    margin-left: 10px;
    margin-top: 17px;
    z-index: 1;
}

/* main */

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.preview{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 888px;
    width: 100%;
    background: url(img/iback.png) center no-repeat;
    z-index: 1;
}

.preview__text{
    position: relative;
    top: 100px;
    left: 71px;
    color: #fff;
    width: 915px;
    height: 102px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.29);
}

.preview__text--first{
    text-transform: uppercase;
    font-size: 44pt;
    font-weight: bold;
}

.preview__text--last{
    font-size: 32pt;
    position: relative;
    left: 11%;
}

.preview__text--last::before{
    content: '&';
    position: absolute;
    font-size: 130px;
    left: -104px;
    top: -95px;
    z-index: -1;
    color: #bbedff;
    text-shadow: none;
    font-weight: bold;
}

.slider{
    display: flex;
    flex-direction: row;
    width: 755px;
    height: 240px;
    position: relative;
    top: 11px;
    left: 196px;
}

.slider__item{
    height: 100%;
    width: 43%;
    position: relative;
}

.slider__item--img{
    position: absolute;
}

.slider__item--fild{
    text-align: center;
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 35px;
}

.slider__item--like{
    margin-top: 8%;
    display: inline-block;
    font-size: 14pt;
    position: relative;
    bottom: 5px;
}

.slider__item:first-child .slider__item--fild{
    color: #adff63;
    background:rgba(136, 201, 78, 0.9);
}

.slider__item:nth-child(2) .slider__item--fild{
    color: #cc9800;
    background: rgba(254, 236, 118, 0.9);
}

.slider__next{
    height: 100%;
    width: 15%;
    background: #f4f4f4;
    color: #d4d4d4;
    font-size: 63pt;
}

.fa.fa-angle-right{
    position: relative;
    top: 22%;
    left: 39%;
}

/* content */

.content{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    height: 540px;
    width: 100%;
    /* padding: 0 360px; */
    color: #6d6e71;
}

.content__item{
    width: 558px;
    display: flex;
}

.content__header{
    margin-bottom: 22px;
}

.content__img{
    height: 113px;
    margin-right: 33px;
}

.content__text{
    text-align: justify;
    display: inline-block;
    width: 436px;
}

@media screen and (max-width: 1345px){
    body{
        padding-top: 0;
    }

    header{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 97px;
        width: 100%;
    }

    
    .header__line{
        flex-wrap: wrap;
    }

    .header__line:first-child{
        position: absolute;
        left: calc(40% - 200px);
        z-index: -1;
    }

    .contacts, hr, .slider{
        display: none;
    }

    .burger{
        display: block;
        margin-left: 40px;
        outline: none;
        order: 1;
    }

    .burger:hover{
        cursor: pointer;
    }

    .burger:focus + .menu{
        display: inline;
    }

    .logo{
        background: url(img/logo_laptop.png);
        position: static;
        margin: 0;
        order: 2;
    }

    .logo__text{
        position: relative;
        top: 7px;
    }

    .search{
        order: 2;
    }

    .menu{
        order: 3;
        margin-right: 0;
        width: 100%;
        z-index: 10;
        background: #fff;
        display: none;
    }

    .menu__item{
        display: block;
        position: static;
    }

    .menu__item:not(:first-child) {
        border-left: 0;
        margin-left: -5px;
    }

    .menu__link{
        padding: 20px;
    }

    .menu__item:hover::after{
        visibility: hidden;
    }

    .preview__text{
        z-index: 5;
        top: -17%;
    }

    .content{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .content__item {
        width: 75%;
    }

    .content__text{
        width: 87%;
    }
}