@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    align-items: center;
    padding-top: 56px; 
    overflow-x: hidden;
}

/* header */

header{
    height: 247px;
    color: #6d6e71;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -2px;
}

.logo{
    position: relative;
    margin-right: 598px;
}

.logo__text{
    position: absolute;
    top: 18px;
    left: 161px;
    color: #3687c4;
    font-size: 41px;
}

.contacts__item{
    display: inline-block;
    padding: 0 17px;
}

hr{
    width: 100%;
    height: 1px;
    background: #eceef4;
    border: 0;
    margin-top: 56px;
}

.menu{
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
    margin-right: 69px;
}

.menu__item{
    display: inline-block;
    position: relative;
}

.menu__link{
    display: block;
    padding: 30px;
    text-align:center;
}

.menu__item:not(:first-child){
    border-left: 1px solid #eceef4;
    margin-left: -5px;
}

.menu__item:first-child .menu__link{
    width: 50px;
}

.menu__item:nth-child(2) .menu__link{
    width: 156px;
}

.menu__item:nth-child(3) .menu__link{
    width: 109px;
}

.menu__item:nth-child(4) .menu__link{
    width: 112px;
}

.menu__item:nth-child(5) .menu__link{
    width: 122px;
}

.menu__item:nth-child(6) .menu__link{
    width: 70px;
}

.menu__item:hover{
    color: #1faae2;
    text-transform: uppercase;
    cursor: pointer;
}

.menu__item:hover::after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(31, 170, 226, 0);
    border-bottom-color: #1faae2;
    border-width: 16px;
    margin-left: -16px;
}

.search{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search__input{
    width: 250px;
    height: 50px;
    border: none;
    font-size: 12pt;
    padding-left: 45px;
    border-radius: 5px;
}

.search::before{
    content: url(img/icon_search.png);
    position: absolute;
    top: -10%;
    margin-left: 10px;
    margin-top: 17px;
    z-index: 1;
}

/* main */

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 2000px;
}

.preview{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 888px;
}

.preview__img{
    clip-path: polygon(0% 0, 100% 0%, 100% 65%, 0% 99%);
    position: absolute;
}

.preview__text{
    position: relative;
    top: 12%;
    left: 4%;
    color: #fff;
    width: 915px;
    height: 102px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.29);
}

.preview__text--first{
    text-transform: uppercase;
    font-size: 44pt;
    font-weight: bold;
}

.preview__text--last{
    font-size: 32pt;
    position: relative;
    left: 11%;
}

.preview__text--last::before{
    content: '&';
    position: absolute;
    font-size: 130px;
    left: -104px;
    top: -95px;
    z-index: -1;
    color: #bbedff;
    text-shadow: none;
    font-weight: bold;
}

.slider{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 755px;
    height: 240px;
    top: 3px;
    left: 196px;
}

.slider__item{
    height: 100%;
    width: 43%;
    position: relative;
}

.slider__item--img{
    position: absolute;
}

.slider__item--fild{
    text-align: center;
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 35px;
}

.slider__item--like{
    margin-top: 8%;
    display: inline-block;
    font-size: 14pt;
    position: relative;
    bottom: 5px;
}

.slider__item:first-child .slider__item--fild{
    color: #adff63;
    background:rgba(136, 201, 78, 0.62);
}

.slider__item:nth-child(2) .slider__item--fild{
    color: #cc9800;
    background: rgba(254, 236, 118, 0.62);
}

.slider__next{
    height: 100%;
    width: 15%;
    background: #f4f4f4;
    color: #d4d4d4;
    font-size: 63pt;
}

.fa.fa-angle-right{
    position: relative;
    top: 22%;
    left: 39%;
}

/* content */

.content{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    height: 610px;
}

.content__item{
    width: 567px;
}